/* General styles */
a {
  color: #31BEB1;
  text-decoration: none;
}
a:hover {
  color: #F6BE15;
  text-decoration: underline;
}
h2 {
  margin: 1rem 0 0;
  font-weight: 400;
}
hr {
  margin: 1rem 0;
}

/* Custom styles */
.about-area {
  font-weight: 400;
  font-size: 2rem;
}
