/* General styles */
body, html  {
  height: 100%;
  color: #555;
}
a {
  color: #8037f7;
  text-decoration: none;
  transition: 0.3s;
  letter-spacing: 5px;
}
a:hover {
  color: #ff3353;
}
h2 {
  font-weight: 900;
  margin: 0;
  letter-spacing: 5px;
}
hr {
  border-top: 2px solid #8037f7;
  margin-top: 10px;
  margin-bottom: 30px;
}

/* Custom styles */
.wrapper {
  min-height: 100%;
}
.about {
  font-size: 20px;
  letter-spacing: 1px;
  padding: 20px;
}
